<html>
  <head>
    <title>{{ full_name }} &lt;{{ email }}&gt; &mdash;{{ degree_name }}</title>
  </head>
  <body>
    <div id="profile">
      <h3>The Profile of: {{ full_name }} &lt;{{ email }}&gt; &mdash; {{ degree_name }}</h3>
      <div>Full Name:</div><div id="full_name">{{ full_name }}</div>
      <div>Email:</div><div id="email">{{ email }}</div>
      <div>Degree:</div><div id="degree_name">{{ degree_name }}</div>
      <div>Institution:</div><div id="institution">{{ institution }}</div>
    </div>
  </body>
</html>
